{% extends "polls_app/layout.html"%}

{% block title %}
<title>Polls but different</title>
{% endblock %}

{% block content%}
    <h1> Details about Question {{question.id}} </h1>
    <h2> {{ question.question_text}} </h2>

    <form action="/{{question.id}}/vote/" method="POST">

        {% csrf_token %}
        {% for choice in question.choices %}
            <input type="radio"  name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}" >
            <label for="choice{{forloop.counter}}"> {{choice.choice_text}} </label> <br/>
        {% endfor %}
        <input type="submit" value="vote">

    </form>

{% endblock %}



{% comment %}
<ul>
    {% for choice in question.choices %}
        <li> {{choice.choice_text}} </li>
    {% endfor %}
</ul> 
{% endcomment %}